app-certificates {
    div.wrapper {
        margin: 10px;
        display: block;
        div.certificates-header {

        }
    }

    //background-color: #00BF9A;
    mat-accordion {
        margin: 10px;
    }
}
