
.dialog-title {
    margin-top: 0;
}

.dialog-button-container {
    float: right;
    margin-right: -8px;
    margin-bottom: -8px;
}

.dialog-button-container.bottom-margin {
    margin-bottom: 8px;
    margin-right: 8px;
}
