form.example-form {
    float: left;
    width: 100%;

    button {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.1);
    }

    button.valid {
        background-color: rgba(0, 117, 97, 0.5);
        color: white;
    }

    mat-form-field {
        width: 100%;
    }

    div.button-div {
        display: flex;
    }

    button.update {
        float: left
    }

    button.delete {
        float: right;
        margin-left: 10px;
    }
}
