<form class="example-form">
    <mat-form-field appearance="fill">
        <mat-label>Identifier of this certificate</mat-label>
        <input (change)="onValueChange()" required matInput [(ngModel)]="model.ID" placeholder="E.g. 1" name="ID">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Certification number</mat-label>
        <input (change)="onValueChange()" required matInput [(ngModel)]="model.CertNr" placeholder="E.g. 47718"
               name="certification-number">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Starting date of the certificate</mat-label>
        <input (dateChange)="onValueChange()" required matInput [(ngModel)]="model.StartDate" [matDatepicker]="picker1"
               name="start-date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>End date of the certificate</mat-label>
        <input (dateChange)="onValueChange()" required matInput [(ngModel)]="model.EndDate" [matDatepicker]="picker2"
               name="end-date">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Name of the farmer</mat-label>
        <input (change)="onValueChange()" required matInput [(ngModel)]="model.Acquirer" placeholder="E.g. 47718"
               name="acquirer">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Address of the farmer</mat-label>
        <input (change)="onValueChange()" required matInput [(ngModel)]="model.Address" placeholder="E.g. 47718"
               name="address">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Registration number</mat-label>
        <input (change)="onValueChange()" required matInput [(ngModel)]="model.RegistrationNr" placeholder="E.g. 47718"
               name="registration-number">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>State of this certificate</mat-label>
        <mat-select (selectionChange)="onValueChange()" [(ngModel)]="model.State" name="state">
            <mat-option *ngFor="let state of states" [value]="state.type">
                {{state.type}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div class="button-div">
        <button mat-flat-button
                class="update"
                [class.valid]="isValid"
                [disabled]="!isValid"
                (click)="onCreate()">{{update ? 'Update' : 'Create'}}</button>
        <button mat-flat-button *ngIf="delete"
                class="delete"
                (click)="onDelete()">Delete
        </button>
    </div>
</form>
