<div class="wrapper">
    <mat-accordion>
        <div *ngFor="let certificate of certificates">
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Certificate {{certificate.ID}}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{certificate.Acquirer}} {{certificate.Address}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p> {{certificate.Acquirer}} {{certificate.Address}}</p>
            </mat-expansion-panel>
        </div>
    </mat-accordion>
</div>
