<div class="wrapper">
    <mat-accordion multi>
        <div *ngFor="let certificate of certificates">
            <mat-expansion-panel [class.valid]="certificate.Valid">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Certificate {{certificate.CertNr}}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{certificate.Valid ? ('Valid until ' + (certificate.EndDate | date)) : 'Not valid anymore'}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <certificate-comp [certificate]="certificate"></certificate-comp>
            </mat-expansion-panel>
        </div>
    </mat-accordion>
</div>
