$header-height: 60px;

.header-bar {
    width: 100%;
    height: $header-height;
    background-color: #008975;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);

    > div {
        padding: 5px;
        color: white;
    }

    > div.navigation-button {
        // Size of icon is 25 px
        line-height: calc(60px - 12.5px);
        float: left;
        > button {
            background-color: #008975;
            color: white;
            min-width: 50px;
        }
    }

    > div.title {
        font-size: 16px;
        padding: 0;
        float: left;
        display: inline-block;
        height: 100%;
        line-height: $header-height;
    }

}
app-certificates {
    height: 50%;
    width: 50%;
}

