div.navigation-bar {
    //position: absolute;
    transition: width 300ms ease;
    width: 186px;
    height: 100%;
    background: #008975;
    z-index: 1;
    float: left;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);

    a {
        color: white;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        margin: 2px 0;
    }

    > div > button {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

div.navigation-bar.closed {
    width: 0;
}
